.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/.toolchain-overlay
/.toolchain-overlay-test
/dist
/AppBundle/*.icns
/AppBundle/*-1024.png
